.content {
	/*display: inline-block;*/
	margin: 0 auto;
}

.header {
	padding: 10px;
	background: #10a7ed;
	box-sizing: border-box;
}

.header h3 {
	margin: 5px 0;
	text-align: center;
}

.content__left-col {
	width: 100%;
	float: left;
	background: #55c7fc;
	padding: 0px;
	box-sizing: border-box;
}

.content__left-col ul {
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

.content__right-col {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.link-to-me {
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
}

.link-to-me:hover {
	background: #10a7ed;
}

.link-to-me a {
  text-decoration: none;
  color: black;
  text-align: right;
}

.link-to-me p {
	display: none;
}

.link-to-me img {
	vertical-align: middle;
}

.profile-pic {
	display: none;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 1px solid black;
}

.project-gallery {
	display: inline-block;
}

.project-gallery__preview {
	float: left;
	width: 100%;
	height: 100%;
	padding: 25px;
	box-sizing: border-box;
}

.project__title {
	margin: 0 0 10px 0;
	text-align: center;
	font-size: 18px;
	color: #10a7ed;
}

.project__img {
	margin-bottom: 10px;
	width: 100%;
	height: 100%;
	border: 1px solid lightgrey;
	box-sizing: border-box;
}

/*#ECD {*/
/*	padding-bottom: 4px;
}*/

.project__img:hover {
	border: 1px solid #10a7ed;
}

.project__stack li {
	display: inline-block;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

.project__notes {
	margin-bottom: 10px;
}

#ror {
	background: #ef2b2b;
	color: white;
}

#pg {
	background: #00a9ff;
	color: white;
}

#js {
	background: #f9f913;
}

#d3 {
	background: #1dc428;
	color: white;
}



@media screen and (min-width: 600px){

	.project-gallery__preview {
		float: left;
		width: 50%;
		height: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
}

@media screen and (min-width: 860px){
	
	.content__left-col {
		float: left;
		width: 20%;
		height: 700px;
		padding: 10px;
	}

	.content__right-col {
		width: 80%;
		padding: 15px;
		
	}

	.profile-pic {
		display: block;
		margin: 0 auto;
	}

	.link-to-me {
		float: left;
		width: 100%;
		box-sizing: border-box;
		text-align: left;
	}

	.link-to-me p {
		display: inline-block;
	}

}



