html {
	background: radial-gradient(white, black);
}

body {
	margin: 0;
}

p {
	margin: 0;
}


/*
 *---------------------------
 * SITE HEADER
 *---------------------------
*/

.site-header {
  height: 75px;
  background-color: lightgrey;
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 2px 2px 8px #333;
	min-width: 290px;
	transition: height 0.3s;
}

.site-header-top {
	height: 60px;
	background-color: #333;
	transition: height 0.3s;
}

.site-header-bottom {
	background-color: lightgrey;
	box-shadow: 2px 2px 8px #333;
}


.site-header__name {
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 0 0;
	width: 50%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 20px;
	transition: all 0.3s;
	-webkit-box-reflect: below -10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.5)));
}

.site-header__img {
	width: 65px;
	border-radius: 50%;
	position: absolute;
  top: 4px;
  left: 5px;
  border: 1px solid white;
  box-shadow: 0 2px 5px black;
  transition: all 0.3s;
  z-index: 100;
}

.site-header__img:hover {
	animation-name: spin;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
}

.site-header .content-header__text {
	opacity: 0;
}

/*
 *---------------------------
 * /SITE HEADER
 *---------------------------
*/

/*
 *---------------------------
 * SITE CONTENT
 *---------------------------
*/
.site-content {
	margin-top: 100px;
	padding: 5px 5px;
	overflow: auto;
}

.content-header {
	background-color: transparent;
}

.content-header__text {
	margin-bottom: 20px;
	padding: 0 10px;
	font-size: 20px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-style: italic;
}

/*
 *---------------------------
 * /SITE CONTENT
 *---------------------------
*/


/*
 *---------------------------
 * CONTENT CARDZ
 *---------------------------
*/

.content-card {
	width: 95%;
	box-shadow: 3px 3px 5px #333;
	padding: 10px;
	margin: 0 auto 15px auto;
	display: table;

	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	background-color: white;
}

/*
 *---------------------------
 * CONTACT
 *---------------------------
*/


.contact-list {
	list-style: none;
	padding: 0;
	width: 95%;
	margin: 0 auto;
}

.contact-list__btn:hover {
	color: lightgray;
}

.contact-list__btn {
	display: inline-block;
	float: left;
	padding: 10px;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: white;
	transition: color 0.3s;
}

.contact-list__btn i {
	margin-right: 5px;
}
/*
#github .contact-list__btn { background-color: gray; }
#linkedin .contact-list__btn { background-color: #4875B4; }
#email .contact-list__btn { background-color: green; }*/

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}

/*
 *---------------------------
 * /CONTENT CARD
 *---------------------------
*/


/*
 * location Card
*/

.location-card {
	float: left;
}

.info--location {
	font-size: 14px;
}

.info--bio {
	margin-top: 10px;
}

.info-title {
	padding: 2px 5px;
	color: white;
	text-transform: uppercase;
	background: grey;
}

.info-content {
	color: grey;
	line-height: 20px;
}

.info-content a {
	color: black;
}

/*
 * skillset Card
*/

.skillset-card {
	clear: both;
}

.skillset-examples {
	padding-left: 100px;
	margin: 0;
}

.skillset-detail {
	padding: 10px 0;
	float: left;
}

.skillset-detail svg {
	width: 70px;
	float: left;
}

.skillset-img {
	width: 50px;
	border-radius: 10px;
	float: left;
}


/*
 * projects Card
*/

.project-detail {
    width: 100%;
    border: 1px solid lightgrey;
    float: left;
    padding: 10px;
	position: relative;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: ghostwhite;
}

.project-detail-title {
	text-align: center;
	font-size: 18px;
	color: black;
}

.project-detail-title:hover{
	color: rgb(80,80,170);
}

.project-detail-list {
	color: grey;
}

.project-detail-list-item {
	margin-bottom: 5px;
}

.project-detail-img {
	width: 100%;
}

.projects-card-title {
	margin-bottom: 15px;
}



/*
 *---------------------------
 * / SAMPLES
 *---------------------------
*/

.sample {
	margin-bottom: 100px;
}

.sample-title h2 {
	display: inline-block;
	margin-left: -10px;
	padding: 5px 10px;
	color: white;
	background-color: black;
}


/*
 * clock sample
 */

.clock {
	width: 220px;
	height: 220px;
	border: 3px solid black;
	border-radius: 50%;
	transform: rotate(90deg);
	box-shadow: 2px 0px 10px gray;
	background: radial-gradient(white 20%, lightgray 50%, darkgray 70%);
}

.clock-hands {
	position: relative;
	margin: 10px 0 10px 10px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.clock-hands:after {
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	left: 47%;
	top: 49%;
	z-index: 100;
	background-color: tomato;
	border-radius: 50%;
}


.clock-arm {
	display: inline-block;
	position: absolute;
	top: 50%;
	width: 50%;
	height: 5px;
	transition: all 0.1s;
	transition-timing-function: cubic-bezier(0.42, 0, 0, 2.48);
	transform-origin: 100%;
}

.clock-arm.seconds {
	background-color: tomato;
	z-index: 2;
}

.clock-arm.minutes {
	background-color: #8f8f8f;
}

.clock-arm.hours {
	background-color: black;
}

.clock-arm.hours:after {
	display: block;
	content: '';
	background-color: gray;
	width: 20px;
}

/*
 * Share tools
 */

.share-tools {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.share-tools__btns-wrap {
	overflow: hidden;
	padding-right: 8px;
}

.share-tools__btns {
	width: 230px;
	opacity: 0;
	transform: translateX(-100%);
	transition: transform 1s;
	animation-name: collapse;
	animation-duration: 0.8s;
	animation-timing-function: cubic-bezier(0.39, 0.91, 0.42, 0.95)
	animation-fill-mode: forwards;
}

.share-tools__btn {
	display: inline-block;
	float: left;
	width: 20px;
	height: 20px;
	padding: 23px 20px 17px;
	border-radius: 50%;
	background-color: lightgray;
	border: 2px solid gray;
	color: black;
	text-align: center;
	cursor: pointer;
	margin-right: 3px;
}

.share-tools__btn#facebook {
	background-color: steelblue;
	border: 2px solid #315a7d;
}
.share-tools__btn#twitter {
	background-color: skyblue;
	border: 2px solid #6ca4c8;
}
.share-tools__btn#google {
	background-color: tomato;
	border: 2px solid #cc1f00;
}

.share-tools__trigger:hover {
	transform: rotate(1turn);
	transition: transform 0.5s;
}

.share-tools--active:hover { display: inline-block; }

.share-tools--active .share-tools__btns {
	padding-left: 29px;
	animation-name: expand;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0, 0.81, 0.6, 1.17);
	animation-fill-mode: forwards;
}

.share-tools__btn i {
	transition: transform 0.3s;
	color: white;
}

.share-tools--active .share-tools__btn:not(.share-tools__trigger):hover i {
	transform: scale(1.2);
}

@keyframes expand {
  0% { opacity: 0; }
  90% { opacity: 1; }
  100% {
    -webkit-transform: translateX(-11%);/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateX(-11%);/* IE 9 */
          transform: translateX(-11%);/* IE 10, Fx 16+, Op 12.1+ */
    opacity: 1;
    z-index: 100;
	}
}

@keyframes collapse {
  0% {
    -webkit-transform: translateX(0);/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateX(0);/* IE 9 */
          transform: translateX(0);/* IE 10, Fx 16+, Op 12.1+ */
    opacity: 1;
  }
  30% { opacity: 0; }
}


/*
 *---------------------------
 * /SAMPLES
 *---------------------------
*/


@media (min-width: 750px) {
	/*
 	 *---------------------------
 	 * SITE HEADER
 	 *---------------------------
	*/

	.site-header {
		height: 100px;
	}

	.site-header-top {
		height: 80px;
	}

	.site-header-bottom {
		padding: 5px;
		overflow: auto;
	}

	.site-header__name {
		padding: 25px 0 0 25px;
		text-align: left;
		display: inline-block;
		font-size: 32px;
	}

	.site-header__social-bar {
		margin: 0;
		float: right;
	}

	.site-header .site-header__img {
		top: 10px;
		left: 46%;
		width: 125px;
	}

	.site-header.minimize {
		height: 50px;
	}

	.site-header.minimize .site-header-top{
		height: 40px;
	}

	.site-header.minimize	.site-header__img {
		left: 150px;
		width: 40px;
		top: 5px;
	}

	.site-header.minimize .site-header__name {
		font-size: 20px;
		padding-top: 10px;
		transition: all 0.3s;
		-webkit-box-reflect: below -7px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.5)));
	}

	/*
 	 *---------------------------
 	 * /SITE HEADER
 	 *---------------------------
	*/

	/*
	 *---------------------------
	 * SITE CONTENT
	 *---------------------------
	*/
	.site-content {
		max-width: 960px;
    	margin: 150px auto 0 auto;
    	padding: 5px 15px;
	}

	/*
	 *---------------------------
	 * /SITE CONTENT
	 *---------------------------
	*/

	/*
	 * location Card
	*/

	.location-card {
		max-width: 320px;
	}

	/*
	 * skillset Card
	*/

	.right-col-card {
		clear: none;
	}

	/*
	 * Project Cards
	*/
	.project-detail {
		width: 49%;
	}

	.project-detail:nth-child(even) {
		margin-right: 2%;
	}

	.project-detail-list {
		min-height: 120px;
	}
}


@media (min-width: 1040px) {
	.site-header.minimize .content-header__text {
		opacity: 1;
		transition: opacity 1s;
		position: absolute;
		top: 8px;
		right: 0;
		width: 100%;
		font-size: 22px;
	}
}

