html {
	background: radial-gradient(white, black);
}

body {
	margin: 0;
}

p {
	margin: 0;
}


/*
 *---------------------------
 * SITE HEADER
 *---------------------------
*/

.site-header {
  height: 75px;
  background-color: lightgrey;
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 2px 2px 8px #333;
	min-width: 290px;
	transition: height 0.3s;
}

.site-header-top {
	height: 40px;
	background-color: #333;
	transition: height 0.3s;

}

.site-header-bottom {
	background-color: lightgrey;
	box-shadow: 2px 2px 8px #333;
}


.site-header__name {
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 0 0;
	width: 50%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 20px;
	transition: all 0.3s;
	-webkit-box-reflect: below -10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.5)));
}

.site-header__img {
	width: 65px;
	border-radius: 50%;
	position: absolute;
  top: 4px;
  left: 5px;
  border: 1px solid white;
  box-shadow: 0 2px 5px black;
  transition: all 0.3s;
}

.site-header__img:hover {
	animation-name: spin;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
}


/*
 *---------------------------
 * /SITE HEADER
 *---------------------------
*/

/*
 *---------------------------
 * SITE CONTENT
 *---------------------------
*/
.site-content {
	margin-top: 100px;
	padding: 5px 5px;
	overflow: auto;
}

/*
 *---------------------------
 * /SITE CONTENT
 *---------------------------
*/


/*
 *---------------------------
 * CONTENT CARDZ
 *---------------------------
*/

.content-card {
	width: 100%;
	box-shadow: 3px 3px 5px #333;
	padding: 10px;
	margin-bottom: 15px;

	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
}

/*
 *---------------------------
 * CONTACT
 *---------------------------
*/


.contact-list {
	list-style: none;
	padding: 0;
}

.flipup-button {
	display: inline-block;
	width: 100%;
	position: relative;
	text-decoration: none;
	border-radius: 3px;
	overflow: hidden;
	color: black;
	z-index: 1;
}

.flipup-button:after {
	display: inline-block;
	position: absolute;
	content: '';
	width: 100%;
	height: 36px;
	z-index: -1;
	animation-name: flipdown;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	transform: translateY(0); 
}

.flipup-button:hover:after {
	animation-name: flipup;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

.flipup-button:hover p {
	color: white;
	transition: color 0.25s;
}

.flipup-container {
	padding: 10px 15px;
	position: relative;
}

#googleplus .flipup-button:after { background-color: #dd4b39; }
#linkedin .flipup-button:after { background-color: #4875B4; }
#email .flipup-button:after { background-color: green; }

.flipup-text {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

@keyframes spin {
	to {
		transform: rotate(2turn);
	}
}

@keyframes flipup {
	to { transform: translateY(-36px); }
}

@keyframes flipdown {
	from { transform: translateY(-36px); }
	to { transform: translateY(0); }
}

/*
 *---------------------------
 * /CONTENT CARD
 *---------------------------
*/


/*
 * location Card
*/

.location-card {
	max-width: 290px;
	float: left;
}

.info--location {
	font-size: 14px;
}

.info--bio {
	margin-top: 10px;
}

.info-title {
	padding: 2px 5px;
	color: white;
	text-transform: uppercase;
	background: grey;
}

.info-content {
	color: grey;
	line-height: 20px;
}

.info-content a {
	color: black;
}

/*
 * skillset Card
*/

.skillset-card {
	clear: both;
}

.skillset-examples {
	padding-left: 80px;
}

.skillset-img {
	width: 50px;
	border-radius: 10px;
	float: left;
}


/*
 * projects Card
*/

.project-detail {
    width: 100%;
    border: 1px solid lightgrey;
    float: left;
    padding: 10px;
	position: relative;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: ghostwhite;
}

.project-detail-title {
	text-align: center;
	font-size: 18px;
	color: black;
}

.project-detail-title:hover{
	color: rgb(80,80,170);
}

.project-detail-list {
	color: grey;
}

.project-detail-list-item {
	margin-bottom: 5px;
}

.project-detail-img {
	width: 100%;
}

.projects-card-title {
	margin-bottom: 15px;
}




@media (min-width: 650px) {
	/*
 	 *---------------------------
 	 * SITE HEADER
 	 *---------------------------
	*/

	.site-header {
		height: 100px;
	}

	.site-header-top {
		height: 80px;
	}

	.site-header-bottom {
		padding: 5px;
		overflow: auto;
	}

	.site-header__name {
		padding: 25px 0 0 25px;
		text-align: left;
		display: inline-block;
		font-size: 32px;
	}

	.site-header__img {
		width: 125px;
	    top: 10px;
	    left: 46%;
	}

	.site-header__social-bar {
		margin: 0;
		float: right;
	}
	/*
 	 *---------------------------
 	 * /SITE HEADER
 	 *---------------------------
	*/

	/*
	 *---------------------------
	 * SITE CONTENT
	 *---------------------------
	*/
	.site-content {
		max-width: 960px;
    	margin: 150px auto 0 auto;
    	padding: 5px 15px;
	}

	/*
	 *---------------------------
	 * /SITE CONTENT
	 *---------------------------
	*/

	/*
	 *---------------------------
	 * CONTENT CARD
	 *---------------------------
	*/
	.content-card {
		margin-left: 15px;
	}

	/*
	 *---------------------------
	 * /CONTENT CARD
	 *---------------------------
	*/

	/*
	 * location Card
	*/

	.location-card {
		max-width: 200px;
	}

	/*
	 * skillset Card
	*/

	.right-col-card {
		float: right;
		width: calc(100% - 240px);
		clear: none;
	}

}


@media (min-width: 768px) {
	/*
	 * projects Card
	*/

/*	.project-detail {
	    width: 49%;
	    min-height: 330px;
	}*/
/*
	.project-detail:nth-child(even) {
		margin-right: 2%;
	}*/

	.site-header.minimize {
	/*	animation-name: minimize;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;*/

		height: 50px;
		transition: height 0.3s;
	}

	.site-header.minimize .site-header-top {
		height: 40px;
		transition: height 0.3s;
	}

	.site-header.minimize .site-header__name  {
		padding-top: 10px;
		font-size: 20px;
		transition: all 0.3s;
		-webkit-box-reflect: below -7px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.5)));
	}

	.site-header.minimize .site-header__img  {
		width: 40px;
		top: 4px;
		left: 150px;
		/*transform: rotate(1turn);*/
		transition: all 0.3s;
	}

}







